In [10]:
import requests
from bs4 import BeautifulSoup

scraped_Titles = []  

for x in range(2, 10):
    mylink = f'https://www.buyrentkenya.com/flats-apartments-for-rent/kiambu/ruaka?page={x}'

    response = requests.get(mylink)
    result = BeautifulSoup(response.content, "html.parser")
    result

    ALL_LINKS = result.find_all(class_='text-black no-underline')

    links = [l.get('href') for l in ALL_LINKS]

    linksS = [f'https://www.buyrentkenya.com{l}' for l in links]

    new_links = []
    for link in linksS:
        new_linkss = link.split("\n")
        new_links.append(new_linkss)
    new_links

    second_links = []

    for x in range(0, len(new_links), 2):
        second_links.append(new_links[x])

    total_links = []
    for x in second_links:
        total_links.append(x)

    link_list = []
    for x in total_links:
        link_s = x[0]
        link_list.append(link_s)
    link_list

    for link in link_list:
        response = requests.get(link)
        myresult = BeautifulSoup(response.content, "html.parser")

        number_titles = myresult.find(class_="text-lg font-semibold md:text-2xl")  
        
        if number_titles:
            titles = number_titles.get_text(strip=True)  
            scraped_Titles.append(titles)  
        else:
            scraped_Titles.append("Title not found for this link")

In [11]:
scraped_Titles

['2 Bed Apartment with Parking in Ruaka',
 '1 Bed Apartment with Lift in Ruaka',
 'Serviced Studio Apartment with En Suite at Ruaka - Banana Road',
 '2 Bed Apartment with En Suite in Ruaka',
 '2 Bed Apartment with En Suite in Ruaka',
 '2 Bed Apartment with En Suite at Limuru Road - Ruaka',
 '2 Bed Apartment with En Suite in Ruaka',
 'Serviced 1 Bed Apartment with Parking in Ruaka',
 '2 Bed Apartment with En Suite in Ruaka',
 '3 Bed Apartment in Ruaka',
 '2 Bed Apartment with En Suite in Ruaka',
 'Furnished 2 Bed Apartment with En Suite in Ruaka',
 '2 Bed Apartment in Ruaka',
 '3 Bed Apartment in Ruaka',
 '2 Bed Apartment with En Suite in Ruaka',
 'Serviced 2 Bed Apartment with En Suite at Two Rivers',
 '2 Bed Apartment with En Suite at Limuru Road',
 '1 Bed Apartment with Parking in Ruaka',
 '2 Bed Apartment in Ruaka',
 '2 Bed Apartment with En Suite in Ruaka',
 '2 Bed Apartment with Parking in Ruaka',
 '3 Bed Apartment with En Suite in Ruaka',
 '1 Bed Apartment with Parking in Ruaka',
 '1 Bed Apartment with Parking in Ruaka',
 'Serviced Studio Apartment with Backup Generator at Limuru Road',
 '2 Bed Apartment with En Suite at Joyland - Ruaka']

In [23]:
import requests
from bs4 import BeautifulSoup

scraped_Bedrooms = []

for x in range(2, 10):
    mylink = f'https://www.buyrentkenya.com/flats-apartments-for-rent/kiambu/ruaka?page={x}'

    response = requests.get(mylink)
    result = BeautifulSoup(response.content, "html.parser")
    result

    ALL_LINKS = result.find_all(class_='text-black no-underline')

    links = [l.get('href') for l in ALL_LINKS]

    linksS = [f'https://www.buyrentkenya.com{l}' for l in links]

    new_links = []
    for link in linksS:
        new_linkss = link.split("\n")
        new_links.append(new_linkss)
    new_links

    second_links = []

    for x in range(0, len(new_links), 2):
        second_links.append(new_links[x])

    total_links = []
    for x in second_links:
        total_links.append(x)

    link_list = []
    for x in total_links:
        link_s = x[0]
        link_list.append(link_s)
    link_list

    

    for link in link_list:
        response = requests.get(link)
        myresult = BeautifulSoup(response.content, "html.parser")

        number_bedrooms = myresult.find(class_="flex h-6 max-w-24 items-center rounded-2xl bg-highlight px-3 py-2 mr-5 font-bold")

        if number_bedrooms:
            bedrooms = number_bedrooms.get_text(strip=True)
            scraped_Bedrooms.append(bedrooms)
        else:
            scraped_Bedrooms.append("1")

In [24]:
scraped_Bedrooms

['2',
 '1',
 '1',
 '2',
 '2',
 '2',
 '2',
 '1',
 '2',
 '3',
 '2',
 '2',
 '2',
 '3',
 '2',
 '2',
 '2',
 '1',
 '2',
 '2',
 '2',
 '3',
 '1',
 '1',
 '1',
 '2']

In [14]:
import requests
from bs4 import BeautifulSoup

scraped_Bathrooms = []

for x in range(2, 10):
    mylink = f'https://www.buyrentkenya.com/flats-apartments-for-rent/kiambu/ruaka?page={x}'

    response = requests.get(mylink)
    result = BeautifulSoup(response.content, "html.parser")
    result

    ALL_LINKS = result.find_all(class_='text-black no-underline')

    links = [l.get('href') for l in ALL_LINKS]

    linksS = [f'https://www.buyrentkenya.com{l}' for l in links]

    new_links = []
    for link in linksS:
        new_linkss = link.split("\n")
        new_links.append(new_linkss)
    new_links

    second_links = []

    for x in range(0, len(new_links), 2):
        second_links.append(new_links[x])

    total_links = []
    for x in second_links:
        total_links.append(x)

    link_list = []
    for x in total_links:
        link_s = x[0]
        link_list.append(link_s)
    link_list

    for link in link_list:
        response = requests.get(link)
        myresult = BeautifulSoup(response.content, "html.parser")

        number_bathrooms = myresult.find(attrs={"aria-label": "bathrooms"})

        if number_bathrooms:
            bathrooms = number_bathrooms.get_text(strip=True)
            scraped_Bathrooms.append(bathrooms)
        else:
            scraped_Bathrooms.append("0")

In [15]:
scraped_Bathrooms

['0',
 '2',
 '1',
 '2',
 '3',
 '2',
 '0',
 '1',
 '3',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '1',
 '2',
 '3',
 '0',
 '2',
 '2',
 '2',
 '1',
 '2']

In [16]:
import requests
from bs4 import BeautifulSoup

scraped_Prices = []

for x in range(2, 10):
    mylink = f'https://www.buyrentkenya.com/flats-apartments-for-rent/kiambu/ruaka?page={x}'

    response = requests.get(mylink)
    result = BeautifulSoup(response.content, "html.parser")
    result

    ALL_LINKS = result.find_all(class_='text-black no-underline')

    links = [l.get('href') for l in ALL_LINKS]

    linksS = [f'https://www.buyrentkenya.com{l}' for l in links]

    new_links = []
    for link in linksS:
        new_linkss = link.split("\n")
        new_links.append(new_linkss)
    new_links

    second_links = []

    for x in range(0, len(new_links), 2):
        second_links.append(new_links[x])

    total_links = []
    for x in second_links:
        total_links.append(x)

    link_list = []
    for x in total_links:
        link_s = x[0]
        link_list.append(link_s)
    link_list

    for link in link_list:
        response = requests.get(link)
        myresult = BeautifulSoup(response.content, "html.parser")

        number_prices = myresult.find(class_="text-xl leading-7 font-semibold md:text-xxl md:font-extrabold block")

        if number_prices:
            prices = number_prices.get_text(strip=True)
            scraped_Prices.append(prices)
        else:
            scraped_Prices.append("Title not found for this link")

In [19]:

cleaned_Prices = [price.replace('\n/ month', '') for price in scraped_Prices]

Scraped_Prices = []
for price in cleaned_Prices:
    Scraped_Prices.append(price)
Scraped_Prices

['KSh 30,000',
 'KSh 28,000',
 'KSh 11,000',
 'KSh 35,000',
 'KSh 33,000',
 'KSh 45,000',
 'KSh 45,000',
 'KSh 15,000',
 'KSh 35,000',
 'KSh 50,000',
 'KSh 28,000',
 'KSh 100,000',
 'KSh 40,000',
 'KSh 65,000',
 'KSh 45,000',
 'KSh 170,000',
 'KSh 40,000',
 'KSh 25,000',
 'KSh 50,000',
 'KSh 200,000',
 'KSh 30,000',
 'KSh 40,000',
 'KSh 25,000',
 'KSh 25,000',
 'KSh 85,000',
 'KSh 40,000']

In [25]:
import pandas as pd
mydataframe2 = pd.DataFrame({"Title" : scraped_Titles,"Bedrooms" : scraped_Bedrooms,"Bathrooms" : scraped_Bathrooms , "Prices" :Scraped_Prices })

In [26]:
mydataframe2

,Title,Bedrooms,Bathrooms,Prices
0,2 Bed Apartment with Parking in Ruaka,2,0,"KSh 30,000"
1,1 Bed Apartment with Lift in Ruaka,1,2,"KSh 28,000"
2,Serviced Studio Apartment with En Suite at Rua...,1,1,"KSh 11,000"
3,2 Bed Apartment with En Suite in Ruaka,2,2,"KSh 35,000"
4,2 Bed Apartment with En Suite in Ruaka,2,3,"KSh 33,000"
5,2 Bed Apartment with En Suite at Limuru Road -...,2,2,"KSh 45,000"
6,2 Bed Apartment with En Suite in Ruaka,2,0,"KSh 45,000"
7,Serviced 1 Bed Apartment with Parking in Ruaka,1,1,"KSh 15,000"
8,2 Bed Apartment with En Suite in Ruaka,2,3,"KSh 35,000"
9,3 Bed Apartment in Ruaka,3,2,"KSh 50,000"
10,2 Bed Apartment with En Suite in Ruaka,2,2,"KSh 28,000"
11,Furnished 2 Bed Apartment with En Suite in Ruaka,2,2,"KSh 100,000"
12,2 Bed Apartment in Ruaka,2,2,"KSh 40,000"
13,3 Bed Apartment in Ruaka,3,2,"KSh 65,000"
14,2 Bed Apartment with En Suite in Ruaka,2,2,"KSh 45,000"
15,Serviced 2 Bed Apartment with En Suite at Two ...,2,2,"KSh 170,000"
16,2 Bed Apartment with En Suite at Limuru Road,2,2,"KSh 40,000"
17,1 Bed Apartment with Parking in Ruaka,1,1,"KSh 25,000"
18,2 Bed Apartment in Ruaka,2,2,"KSh 50,000"
19,2 Bed Apartment with En Suite in Ruaka,2,3,"KSh 200,000"
20,2 Bed Apartment with Parking in Ruaka,2,0,"KSh 30,000"
21,3 Bed Apartment with En Suite in Ruaka,3,2,"KSh 40,000"
22,1 Bed Apartment with Parking in Ruaka,1,2,"KSh 25,000"
23,1 Bed Apartment with Parking in Ruaka,1,2,"KSh 25,000"
24,Serviced Studio Apartment with Backup Generato...,1,1,"KSh 85,000"
25,2 Bed Apartment with En Suite at Joyland - Ruaka,2,2,"KSh 40,000"

In [3]:
import pandas as pd
df = pd.DataFrame(mydataframe2)

df.to_csv('Rent_RUAKA_Data.csv', index=False)

NameError: name 'mydataframe2' is not defined

In [4]:
Ruaka = pd.read_csv('Rent_RUAKA_Data.csv')

In [5]:
Ruaka

,Title,Bedrooms,Bathrooms,Prices
0,2 Bed Apartment with Parking in Ruaka,2,0,"KSh 30,000"
1,1 Bed Apartment with Lift in Ruaka,1,2,"KSh 28,000"
2,Serviced Studio Apartment with En Suite at Rua...,1,1,"KSh 11,000"
3,2 Bed Apartment with En Suite in Ruaka,2,2,"KSh 35,000"
4,2 Bed Apartment with En Suite in Ruaka,2,3,"KSh 33,000"
5,2 Bed Apartment with En Suite at Limuru Road -...,2,2,"KSh 45,000"
6,2 Bed Apartment with En Suite in Ruaka,2,0,"KSh 45,000"
7,Serviced 1 Bed Apartment with Parking in Ruaka,1,1,"KSh 15,000"
8,2 Bed Apartment with En Suite in Ruaka,2,3,"KSh 35,000"
9,3 Bed Apartment in Ruaka,3,2,"KSh 50,000"
10,2 Bed Apartment with En Suite in Ruaka,2,2,"KSh 28,000"
11,Furnished 2 Bed Apartment with En Suite in Ruaka,2,2,"KSh 100,000"
12,2 Bed Apartment in Ruaka,2,2,"KSh 40,000"
13,3 Bed Apartment in Ruaka,3,2,"KSh 65,000"
14,2 Bed Apartment with En Suite in Ruaka,2,2,"KSh 45,000"
15,Serviced 2 Bed Apartment with En Suite at Two ...,2,2,"KSh 170,000"
16,2 Bed Apartment with En Suite at Limuru Road,2,2,"KSh 40,000"
17,1 Bed Apartment with Parking in Ruaka,1,1,"KSh 25,000"
18,2 Bed Apartment in Ruaka,2,2,"KSh 50,000"
19,2 Bed Apartment with En Suite in Ruaka,2,3,"KSh 200,000"
20,2 Bed Apartment with Parking in Ruaka,2,0,"KSh 30,000"
21,3 Bed Apartment with En Suite in Ruaka,3,2,"KSh 40,000"
22,1 Bed Apartment with Parking in Ruaka,1,2,"KSh 25,000"
23,1 Bed Apartment with Parking in Ruaka,1,2,"KSh 25,000"
24,Serviced Studio Apartment with Backup Generato...,1,1,"KSh 85,000"
25,2 Bed Apartment with En Suite at Joyland - Ruaka,2,2,"KSh 40,000"

In [7]:
price =Ruaka["Prices"]
mypricelist = list(price )

cleaned_prices = [int(price.replace('KSh ', '').replace(',', '')) if 'KSh' in price else None for price in mypricelist]
prices = []
for price in cleaned_prices:
    prices.append(price)

In [8]:
prices

[30000,
 28000,
 11000,
 35000,
 33000,
 45000,
 45000,
 15000,
 35000,
 50000,
 28000,
 100000,
 40000,
 65000,
 45000,
 170000,
 40000,
 25000,
 50000,
 200000,
 30000,
 40000,
 25000,
 25000,
 85000,
 40000]

In [13]:
import pandas as pd


title = Ruaka["Title"]
mytitlelist = list(title)

bedrooms = Ruaka["Bedrooms"]
mybedroomslist = list(bedrooms)

Bathrooms = Ruaka["Bathrooms"]
mybathroomslist = list(Bathrooms)

import pandas as pd
RuakaDataframe = pd.DataFrame({"Title" : mytitlelist,"Bedrooms" : mybedroomslist,"Bathrooms" : mybathroomslist , "Prices" :prices })

In [14]:
RuakaDataframe

,Title,Bedrooms,Bathrooms,Prices
0,2 Bed Apartment with Parking in Ruaka,2,0,30000
1,1 Bed Apartment with Lift in Ruaka,1,2,28000
2,Serviced Studio Apartment with En Suite at Rua...,1,1,11000
3,2 Bed Apartment with En Suite in Ruaka,2,2,35000
4,2 Bed Apartment with En Suite in Ruaka,2,3,33000
5,2 Bed Apartment with En Suite at Limuru Road -...,2,2,45000
6,2 Bed Apartment with En Suite in Ruaka,2,0,45000
7,Serviced 1 Bed Apartment with Parking in Ruaka,1,1,15000
8,2 Bed Apartment with En Suite in Ruaka,2,3,35000
9,3 Bed Apartment in Ruaka,3,2,50000
10,2 Bed Apartment with En Suite in Ruaka,2,2,28000
11,Furnished 2 Bed Apartment with En Suite in Ruaka,2,2,100000
12,2 Bed Apartment in Ruaka,2,2,40000
13,3 Bed Apartment in Ruaka,3,2,65000
14,2 Bed Apartment with En Suite in Ruaka,2,2,45000
15,Serviced 2 Bed Apartment with En Suite at Two ...,2,2,170000
16,2 Bed Apartment with En Suite at Limuru Road,2,2,40000
17,1 Bed Apartment with Parking in Ruaka,1,1,25000
18,2 Bed Apartment in Ruaka,2,2,50000
19,2 Bed Apartment with En Suite in Ruaka,2,3,200000
20,2 Bed Apartment with Parking in Ruaka,2,0,30000
21,3 Bed Apartment with En Suite in Ruaka,3,2,40000
22,1 Bed Apartment with Parking in Ruaka,1,2,25000
23,1 Bed Apartment with Parking in Ruaka,1,2,25000
24,Serviced Studio Apartment with Backup Generato...,1,1,85000
25,2 Bed Apartment with En Suite at Joyland - Ruaka,2,2,40000

In [11]:
features = ['Bedrooms','Bathrooms']
target = 'Prices'

In [12]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\abdihalim abdiaziiz\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\abdihalim abdiaziiz\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\abdihalim abdiaziiz\anaconda3\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\abdihalim abdiaziiz\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\abdihalim abdiaziiz\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [16]:
import pandas as pd
from sklearn.linear_model import LinearRegression



RuakaDataframe = RuakaDataframe.dropna(subset=[target])


x = RuakaDataframe[features]
y = RuakaDataframe[target]


model = LinearRegression()
model.fit(x, y)

LinearRegression()

In [22]:
new_data_Ruaka = pd.DataFrame([[2,1]], columns = features)

In [23]:
new_data_Ruaka

   Bedrooms  Bathrooms
0         2          1

In [24]:
predicted_price_Ruaka = model.predict(new_data_Ruaka)

In [26]:
print("Predicted Price Ruaka" ,predicted_price_Ruaka)

Predicted Price Ruaka [42413.75821952]